<h2>High-Low Game</h2>
<ng-container *ngIf="showGame">
  <app-game (updateScoreEvent)="onScoreEvent($event)"></app-game>
</ng-container>
<ng-container *ngIf="showGameOver">
  <h2> Game Over! </h2>
  <p> Final Score: {{finalScore}}</p>
  <input type="text" id="name-input" #newName />
  <button (click)="addNewPlayer(newName.value)">Add to Scoreboard</button>
  <div>
    <ul>
      <li *ngFor="let name of names">{{name}}</li>
    </ul>
    <ul>
      <li *ngFor="let score of scores">{{score}}</li>
    </ul>
  </div>
</ng-container>
  <router-outlet></router-outlet>
